.code-container {
  font-family: 'Fira Code', monospace;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.codeH {
  display: flex;
  align-items: center;
  background-color: #01081b;
  padding: 5px 10px;
  border-radius: 6px 6px 0 0;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.red { background-color: #ff5f56; }
.yellow { background-color: #ffbd2e; }
.green { background-color: #27c93f; }

.code-title {
  color: #ccc;
  font-size: 14px;
  margin-left: auto;
}

pre {
  background-color: #090f20 !important;
  overflow-x: auto;
  padding: 10px;
  border-radius: 0 0 6px 6px !important;
  margin: 0 !important;
}
